---
variables:
  # Runner will discover the UID and GID of the user configured in the image used by the build container
  # and will change the ownership of the working directory and files by running the chmod command in the
  # predefined container (after updating sources, restoring cache and downloading artifacts).
  FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: "true"
  SOURCES_URI: "https://github/elektrobit"
  SAFU_DEPENDENCY_CONFIG: "ci/dependency_default.json"

workflow:
  auto_cancel:
    on_new_commit: interruptible

default:
  tags:
    - docker
  image: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
  timeout: 1 hours
  before_script:
    - env | sort

build-docker-image:
  stage: .pre
  services:
    - name: $CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX/docker:29-dind
      variables:
        DOCKER_TLS_CERTDIR: ""
      # hostname of dind container inside the private network has to be "docker"
      alias: docker
      command: ["--tls=false"]
  image: $CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX/docker:latest
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
    - echo "$CI_DEPENDENCY_PROXY_PASSWORD" | docker login $CI_DEPENDENCY_PROXY_SERVER -u $CI_DEPENDENCY_PROXY_USER --password-stdin

    - docker build
      --pull
      --push
      --cache-from $CI_REGISTRY_IMAGE:buildcache
      --build-arg BUILDKIT_INLINE_CACHE=1
      --build-arg CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX=$CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX/
      --build-arg REPO=amd64
      --build-arg UBUNTU_RELEASE=jammy
      --tag $CI_REGISTRY_IMAGE:buildcache
      --tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
      -f ci/Dockerfile .

build-dependencies:
  stage: build
  script:
    - ci/install_deps.py
  artifacts:
    paths:
      - build/deps/lib/
      - build/deps/include/

build-release:
  stage: build
  needs:
    - build-dependencies
  script:
    - ci/build.sh --ci Release
  artifacts:
    paths:
      - build/Release/dist/
      - build/Release/cmake/

build-debug:
  stage: build
  needs:
    - build-dependencies
  script:
    - ci/build.sh --ci Debug
  artifacts:
    paths:
      - build/Debug/dist/
      - build/Debug/cmake/

unit-test-release:
  stage: test
  needs:
    - build-release
    - build-dependencies
  script:
    - ci/run_utest.sh Release
  artifacts:
    when: always
    paths:
      - build/Release/result/unit_test/
    reports:
      junit: build/Release/result/unit_test/junit.xml

unit-test-debug:
  stage: test
  needs:
    - build-debug
    - build-dependencies
  script:
    - ci/run_utest.sh Debug
  artifacts:
    when: always
    paths:
      - build/Debug/result/unit_test/
    reports:
      junit: build/Debug/result/unit_test/junit.xml

code-lint:
  stage: test
  needs:
    - build-release
    - build-dependencies
  script:
    - ci/code_lint.py --ci
    - ci/checklicense.sh
  artifacts:
    when: always
    paths:
      - build/Release/cmake/lint_results/

code-coverage:
  stage: test
  tags:
    - "intelpt"
    - "docker"
  needs:
    - build-release
    - build-dependencies
  script:
    - cat /proc/cpuinfo
    - ls -lah /sys/devices/intel_pt
    - ci/create_coverage.sh
  artifacts:
    when: always
    paths:
      - build/Release/result/coverage_results/

publish-kpis:
  stage: test
  needs:
    - build-release
    - code-coverage
  variables:
    BRANCH_NAME: $CI_COMMIT_REF_NAME
  script:
    - ci/publish_kpis.sh

documentation:
  stage: build
  script:
    - ci/build_doc.sh
  artifacts:
    paths:
      - build/doc/

build-deb-packages:
  parallel:
    matrix:
      - OS: ubuntu
        CODENAME: jammy
      - OS: ubuntu
        CODENAME: noble
  # Override default before_script
  before_script: ""
  stage: build
  needs: []
  image: ${OS}:${CODENAME}
  script:
    - ci/build_debs.sh ${CODENAME}
  artifacts:
    paths:
      - ./*.deb
