
stages:
  - build
  - test

default:
  image: docker:24-dind
  services:
    - name: docker:24-dind
      alias: docker
  tags:
      - "shell"

before_script:
  - 'command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )'
  - docker info
  - ip a
  - ss -antup
  - env

build-release:
  stage: build
  needs: []
  script:
    - ci/docker-run.sh ci/build.sh --ci Release
  artifacts:
    paths:
      - build/Release/dist/
      - build/Release/cmake/
    exclude:
      - build/deps/src/

build-debug:
  stage: build
  needs: []
  script:
    - ci/docker-run.sh ci/build.sh --ci Debug
  artifacts:
    paths:
      - build/Debug/dist/
      - build/Debug/cmake/

unit-test-release:
  stage: test
  needs: [build-release]
  script:
    - ci/docker-run.sh ci/run_utest.sh Release
  artifacts:
    when: always
    paths:
      - build/Release/result/unit_test/
    reports:
      junit: build/Release/result/unit_test/junit.xml

unit-test-debug:
  stage: test
  needs: [build-debug]
  script:
    - ci/docker-run.sh ci/run_utest.sh Debug
  artifacts:
    when: always
    paths:
      - build/Debug/result/unit_test/
    reports:
      junit: build/Debug/result/unit_test/junit.xml

code-lint:
  stage: test
  needs: [build-release]
  script:
    - ci/docker-run.sh ci/code_lint.py --ci
    - ci/docker-run.sh ci/checklicense.sh
  artifacts:
    when: always
    paths:
      - build/Release/cmake/lint_results/

code-coverage:
  rules:
    - when: manual
      allow_failure: true
  stage: test
  needs: [build-release]
  script:
    - ci/docker-run.sh ci/create_coverage.sh
  artifacts:
    when: always
    paths:
      - build/Release/result/coverage_results/

publish-kpis:
  rules:
    - when: manual
      allow_failure: true
  needs: [code-coverage]
  script:
    - ci/publish_pkis.sh

documentation:
  stage: build
  script:
    - ci/docker-run.sh ci/build_doc.sh
  artifacts:
    paths:
      - build/doc/
